$blue-main: #298eea;
$blue-neutral: #257ed0;
$blue-dark: #1e68ac;

$black: #000000;
$grey-neutral: #383838;
$grey-light: #646464;

$pink: #fcdbe2;
$pink-neutral: #f2b3c0;
$pink-dark: #e38fa0;

$white: #ffffff;
